{% extends 'base.html.twig' %}

{% block body %}
    <div class="hero-section">
        <h1 class="hero-title">Conservez ce que vous trouvez sur le web</h1>
        <div class="hero-text">
            <p>&#128451; Créez vos sujets et listez simplement les liens vers les ressources web d'intérets.</p>
            <p class="p-margin">&#128400; Ouvrez vos sujets pour les alimenter avec les contributions des utilisateurs.</p>
            <p>&#128270; <a href="{{ path('topic_index')}}" class="decorated">Explorez les sujets</a> pour découvrir de nouvelles ressources.</p>
        </div>
        <ul class="d-flex button-row mt-1">
            <li><a href="{{ path('app_login') }}" class="button-secondary">Se connecter</a></li>
            <li><a href="{{ path('app_register') }}" class="button-primary">S'inscrire</a></li>
        </ul>
    </div>

    <div class="d-flex space-around">
        <div class="d-flex flex-column max-w-50-desktop">
            <h3 class="d-flex flex-vertical-centered">{{ icon('shield') }}<span>Modérer vos sujets ouverts.</span></h3>
            <p class="mb-1">Vérifier les contributions des utilisateurs pour vos sujets ouverts afin de le garder cohérent.</p>
            <img src="{{ asset('images/moderation_settings.png') }}" alt="moderation settings" loading="lazy" width="400" height="131">
        </div>
        <div class="d-flex flex-column flex-vertical-centered">
            <img src="{{ asset('images/tobeverified_example.png') }}" alt="to be verified example" loading="lazy" width="432" height="259">
            <img src="{{ asset('images/approvecheck.png') }}" alt="approve check" loading="lazy" width="400" height="121">
        </div>
    </div>
    <div class="flex-centered flex-column mt-2">
        <h2 class="text-center">Découvrer de nouvelles ressources.</h2>
        <a href="{{ path('topic_index')}}" class="button-primary">Explorer les sujets</a>
    </div>
{% endblock %}
