<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Save This Link{% endblock %}</title>
        <meta name="description" content="A simple tool to save and share links">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                window.USER = {{ app.user ? app.user.id : null }}
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href={{ path("app_home") }}>Hidden brand</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={{ path("app_home") }}>Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href={{ path("theme_index") }}>Explore themes</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href={{ path("website_index") }}>Explore websites</a>
                    </li>
                </ul>
                </div>
                {% if app.user %}
                    <a class="btn btn-sm btn-outline-light" href={{ path("user_profile", {username: app.user.username}) }}>{{ app.user.username }}</a>
                {% else %}
                    <a class="btn btn-sm btn-outline-light" href={{ path("app_login") }}>login</a>
                {% endif %}
            </div>
        </nav>
        {% for label, messages in app.flashes %}
            <div class="flashes">
            {% for message in messages %}
                <flash-message label={{ label }}>{{ message }}</flash-message>
            {% endfor %}
            </div>
        {% endfor %}  
        
        <main class="container">
        {% block body %}{% endblock %}
        </main>
    </body>
</html>
