<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Shareintel{% endblock %}</title>
        <meta name="description" content="{% block description %}Créez vos sujets et listez simplement les liens vers les ressources web d'intérets. Ouvrez vos sujets aux contributions des utilisateurs. Découvrez des nouvelles ressources.{% endblock %}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script>
                window.ADMIN = {{ is_granted('ROLE_SUPER_ADMIN') ? 'true' : 'false' }},
                window.USER = {{ app.user ? app.user.id : 0 }}
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ block('title') }}"/>
        <meta property="og:description" content="{{ block('description') }}"/>
        <meta property="og:site_name" content="Shareintel.com"/>
        <meta property="og:language" content="fr"/>

        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="{{ app.request.uri }}">
        <meta name="twitter:title" content="{{ block('title') }}">
        <meta name="twitter:description" content="{{ block('description') }}">
    </head>
    <body class="{{ theme() }}">
        {% include "partials/nav.html.twig" %}

        <main class="container-margin mt-2">
            {% include "partials/alert.html.twig" %}

            {% block body %}{% endblock %}
        </main>

        <footer>
            <ul  class="d-flex justify-flex-center">
                <li><a href="{{ path('app_privacy') }}" class="decorated">Confidentialité et vie privée</a></li>
                <li class="ml-1"><a href="{{ path('app_changelog') }}" class="decorated">Mises à jour</a></li>
            </ul>
        </footer>
    </body>
</html>
