{{ form_start(form) }}
    <div class="input-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_help(form.title) }}
        <div class="input-error">
            {{ form_errors(form.title) }}
        </div>
    </div>
    
    <div class="input-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_help(form.description) }}
        <div class="input-error">
            {{ form_errors(form.description) }}
        </div>
    </div>

    <div class="input-group" id="toggle-open">
        <div class="checkbox-toggle input-checkbox">
            {{ form_widget(form.private) }}
            {{ form_label(form.private) }}
        </div>
        {{ form_help(form.private) }}
        <div class="input-error">
            {{ form_errors(form.private) }}
        </div>
    </div>

    <div class="input-group" id="toggle-open">
        <div class="checkbox-toggle input-checkbox">
            {{ form_widget(form.open) }}
            {{ form_label(form.open) }}
        </div>
        {{ form_help(form.open) }}
        <div class="input-error">
            {{ form_errors(form.open) }}
        </div>
    </div>

    <div class="input-group" id="toggle-approve">
        <div class="checkbox-toggle input-checkbox">
            {{ form_widget(form.approve) }}
            {{ form_label(form.approve) }}
        </div>
        {{ form_help(form.approve) }}
        <div class="input-error">
            {{ form_errors(form.approve) }}
        </div>
    </div>

    <div class="d-flex justify-flex-center">
        <button class="button-primary">{{ button_label|default('Créer') }}</button>
    </div>
{{ form_end(form) }}
