{{ form_start(form) }}
    <div class="input-group">
        <div class="input-checkbox checkbox-toggle">
            {{ form_widget(form.open) }}
            {{ form_label(form.open) }}
        </div>
        <div class="help-text">{{ form_help(form.open) }}</div>
        <div class="input-error">
            {{ form_errors(form.open) }}
        </div>
    </div>

    <div class="input-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        <div class="help-text">{{ form_help(form.title) }}</div>
        <div class="input-error">
            {{ form_errors(form.title) }}
        </div>
    </div>
    
    <div class="input-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        <div class="help-text">{{ form_help(form.description) }}</div>
        <div class="input-error">
            {{ form_errors(form.description) }}
        </div>
    </div>

    <div class="d-flex justify-flex-center">
        <button class="button-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
