{{ form_start(form) }}
    <div class="input-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_help(form.title) }}
        <div class="input-error">
            {{ form_errors(form.title) }}
        </div>
    </div>
    
    <div class="input-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_help(form.description) }}
        <div class="input-error">
            {{ form_errors(form.description) }}
        </div>
    </div>

    <div class="input-group">
        {{ form_label(form.tags) }}
        {{ form_widget(form.tags) }}
        {{ form_help(form.tags) }}
        <div class="input-error">
            {{ form_errors(form.tags) }}
        </div>
    </div>

    <div class="input-group" id="toggle-private">
        <div class="checkbox-toggle input-checkbox">
            {{ form_widget(form.private) }}
            {{ form_label(form.private) }}
        </div>
        {{ form_help(form.private) }}
        <div class="input-error">
            {{ form_errors(form.private) }}
        </div>
    </div>

    <div class="input-group" id="toggle-open">
        <div class="checkbox-toggle input-checkbox">
            {{ form_widget(form.open) }}
            {{ form_label(form.open) }}
        </div>
        {{ form_help(form.open) }}
        <div class="input-error">
            {{ form_errors(form.open) }}
        </div>
    </div>

    <div class="input-group" id="toggle-approve">
        <div class="checkbox-toggle input-checkbox">
            {{ form_widget(form.approve) }}
            {{ form_label(form.approve) }}
        </div>
        {{ form_help(form.approve) }}
        <div class="input-error">
            {{ form_errors(form.approve) }}
        </div>
    </div>

    <div class="d-flex justify-flex-center">
        <button class="button-primary">{{ button_label|default('Créer') }}</button>
    </div>
{{ form_end(form) }}
<script>
const privateToggleDiv = document.getElementById('toggle-private')
const privateToggle = document.getElementById('theme_private')

const openToggleDiv = document.getElementById('toggle-open')
const openToggle = document.getElementById('theme_open')

const approveToggleDiv = document.getElementById('toggle-approve')
const approveToggle = document.getElementById('theme_approve')

openToggle.disabled = privateToggle.checked
approveToggle.disabled = privateToggle.checked
toggleClass(openToggleDiv, privateToggle.checked)
toggleClass(approveToggleDiv, privateToggle.checked)

privateToggle.addEventListener('change', (e) => {
    openToggle.disabled = e.target.checked
    approveToggle.disabled = e.target.checked

    if (e.target.checked) {
        openToggle.checked = false
        approveToggle.checked = false
    }

    toggleClass(openToggleDiv, e.target.checked)
    toggleClass(approveToggleDiv, !openToggle.checked)
})

openToggle.addEventListener('change', (e) => {
    approveToggle.disabled = !e.target.checked

    if (!e.target.checked) {
        approveToggle.checked = false
    }

    toggleClass(approveToggleDiv, !e.target.checked)
})

function toggleClass(div, bool) {
    if (bool) {
        div.classList.add('input-disabled')
    } else {
        div.classList.remove('input-disabled')
    }
}
</script>