{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <div class="hero-section">
        <h1>{{ user.username }}</h1>
        {% if app.user == user %}
        <div class="d-flex button-row">
            <a href="{{ path('account_edit', {'id': app.user.id }) }}" class="button-secondary">Edit my profile</a>
            <a href="{{ path('app_logout', {'id': app.user.id }) }}" class="button-secondary">Log out</a>
        </div>
        {% endif %}
    </div>

    <div id='app' data-ressource="themes" data-owner={{ user.id }}></div>
{% endblock %}