{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <h1>{{ user.username }}</h1>
    <div class="hero-section">
        {% if app.user == user %}
            <div class="d-flex button-row mb-2">
                <a href="{{ path('account_following') }}" class="button-secondary">{{ icon('bookmark-solid') }}<span>Sujets suivis</span></a>
                <a href="{{ path('account_settings') }}" class="button-secondary">{{ icon('settings') }}<span>Paramètres</span></a>
                <a href="{{ path('app_logout') }}" class="button-secondary">{{ icon('logout') }}<span>Se déconnecter</span></a>
            </div>
        {% endif %}
    </div>

    <h2 class="mt-2">Sujets créés</h2>
    <div id='app' data-context="user-profile" data-ressource="themes" data-owner={{ user.id }}></div>
{% endblock %}